<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conexion" connectionString="Database=cone2020i; Data Source=localhost; Port=3306; User Id=root; Password=pcrafael" providerName="MySql.Data.MySqlClient"/>
        <add name="Ventas.Properties.Settings.Conexion" connectionString="Database=cone2020i; Data Source=localhost; Port=3306; User Id=root; Password=pcrafael" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
