<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ReglasNegocio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ConexionSQL" connectionString="Data Source=.;Initial Catalog=Cone2020I;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Conexion" connectionString="Database=cone2020i; Data Source=localhost; Port=3306; User Id=root; Password=pcrafael" providerName="MySql.Data.MySqlClient"/>
        <add name="ReglasNegocio.Properties.Settings.ConexionSQL" connectionString="Data Source=.;Initial Catalog=Cone2020I;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <applicationSettings>
        <ReglasNegocio.Properties.Settings>
            <setting name="FabricaSQL" serializeAs="String">
                <value>System.Data.SQLClient</value>
            </setting>
            <setting name="Fabrica" serializeAs="String">
                <value>MySql.Data.MySqlClient</value>
            </setting>
            <setting name="Conexion" serializeAs="String">
                <value>Database=cone2020i; Data Source=localhost; Port=3306; User Id=root; Password=1234</value>
            </setting>
        </ReglasNegocio.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
